/*цвета*/
$basic-white: #ffffff;
$basic-black: #000000;
$transparent: transparent;
$paradiso: #4C858B;
$сardinal: #AE2236;
$amaranth: #E33E54;
$tahitiGold: #EA6628;
$tealBlue: #215359;
$nordic: #0C2F33;
$whisper: #E5E5E5;

/*шрифты*/
$font-family-primary: "montserrat";
$font-family-secondary: "Arial";

/*размер экрана*/
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;