include ../section-title/section-title

mixin process()
  .process
    .container
      +section-title("Процесс выполнения монтажа")
      ol.process__list
        li.process__item Рассчёт предварительной заявки
        li.process__item Замер объекта нашим инженером
        li.process__item Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы
        li.process__item Изготовление Дымохода, покраска (если требуется)
        li.process__item Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
        li.process__item Гарантийное обслуживание по соответствующем сроку
