.promo {
    padding-top: 82px;

    @media screen and (max-width: $desktop-width) {
      padding-top: 64px;
    }

    @media screen and (max-width: $tablet-width) {
      padding-top: 24px;
    }
}

.promo__text {
    line-height: 30px;
    margin-top: 0;

    @media screen and (max-width: $desktop-width) {
      padding-left: 10px;
      margin-bottom: 13px;
    }

    @media screen and (max-width: $tablet-width) {
      padding-left: 0px;
      font-size: 13.4px;
      line-height: 26px;
    }
}

.promo__text span {
    color: $amaranth;
}

.promo__content {
    display: grid;
    grid-template-columns: 52% auto;
    grid-template-rows: 150px auto;
}

.promo__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 63px;
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 5;

    @media screen and (max-width: $desktop-width) {
      margin-top: 0;
      font-size: 30px;
      padding-left: 10px;
    }

    @media screen and (max-width: $tablet-width) {
      padding-left: 0;
      margin-top: 19px;
      font-size: 18px;
    }
}

.promo__title span {
    display: block;
    text-transform: uppercase;
    color: $amaranth;
    font-weight: 800;
    font-size: 50px;
    line-height: 57px;

    @media screen and (max-width: $desktop-width) {
      font-size: 40px;
      line-height: 35px;
    }

    @media screen and (max-width: $tablet-width) {
      font-size: 30px;
      line-height: 4px;
    }
}

.promo__list {
    margin-top: 31px;
    padding-left: 15px;
    z-index: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    @media screen and (max-width: $desktop-width) {
      grid-column-start: 1;
      grid-column-end: -1;
      margin-top: -35px;
      padding-left: 13px;
    }

    @media screen and (max-width: $tablet-width) {
      padding-left: 0;
      margin-top: -43px;
    }
}

.promo__item {
    position: relative;
    padding: 12px 40px;
    line-height: 24px;

    &::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid $tahitiGold;
        background-color: $tahitiGold;
        top: 42%;
        left: 14px;
    }

    @media screen and (max-width: $desktop-width) {
      padding: 12px 10px 12px 50px;

      &::before {
        left: 26px;
      }
    }

    @media screen and (max-width: $tablet-width) {
      font-size: 14px;
      padding: 10px 0 15px 40px ;
    }
}

.promo__img-content {
    position: relative;
    min-height: 573.54px;
    background: url("../images/blob-big.svg") no-repeat  center;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
    z-index: 2;
    justify-self: end;
    width: 71%;
    justify-self: end;
    padding-top: 0px;
    margin-top: 28px;
    margin-right: -210px;

    @media screen and (max-width: $desktop-width) {
      display: none;
    }
}

.promo__img-img {
    position: absolute;
    top: -26px;
    left: 26%;
}
