mixin promo()
  .proomo
    .container
      p.promo__text В&#160; 
        span Дымоход.ру
        |&#160; вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть.
      .promo__content
        h2.promo__title Lorem ipsum dolor sit amet
          span Lorem ipsum
        ul.promo__list
          li.promo__item Доступные цены
          li.promo__item Собственное производсвто  Дымоходов
          li.promo__item Выполнение необходимых работ, связанных с установкой камина, печи, котла
          li.promo__item Гарантия (от трёх до десяти лет)
          li.promo__item Работаем чисто, аккуратно, убираем за собой, не сквернословим
          li.promo__item Только русские квалифицированные специалисты
          li.promo__item Устанавливаем любые дымоходы всех производителей
        .promo__img-content
          img.promo__img-img(src="./assets/images/pipe.png", alt="фото товара" width="477" height="459")