.breadcrumb__list {
    padding-left: 0;
    display: flex;
    border-top: 1px solid $whisper;
    border-bottom: 1px solid $whisper;
    font-size: 12px;
    padding: 15px 0px 17px 0px;
    margin-top: 41px;
    margin-bottom: 0;

    @media screen and (max-width: $desktop-width) {
      padding: 7px 0px 14px 0px;
    }

    @media screen and (max-width: $tablet-width) {
      margin-top: 13px;
      padding-top: 9px;
    }


}

.breadcrumb__icon {
    margin-right: 6px;
}

.breadcrumb__link {
    padding: 20px 5px 20px 0px;
    font-size: 12px;

    @media screen and (max-width: $desktop-width) {
      padding: 0;
    }
}
