mixin breadcrumb()
  .breadcrumb
    .container
      ul.breadcrumb__list
        li.breadcrumb__item
          a.breadcrumb__link(href="#") Главная
          svg.breadcrumb__icon(width="10" height="10")
            use(xlink:href="./assets/images/sprite.svg#right-arrow")
   
        li.breadcrumb__item.breadcrumb__item--active Монтаж дымоходов
