mixin social-bar()

  ul.social-bar
    li.social-bar__item
      a.social-bar__link(href="#" aria-label="вконтакте")
        svg.social-bar__icon.social-bar__icon--vk(width="23" height="18")
          use(xlink:href="./assets/images/sprite.svg#vk")
    li.social-bar__item
      a.social-bar__link(href="#" aria-label="telegram")
        svg.social-bar__icon.social-bar__icon--tg(width="23" height="18")
          use(xlink:href="./assets/images/sprite.svg#telegram")
    li.social-bar__item
      a.social-bar__link(href="#" aria-label="instagram")
        svg.social-bar__icon.social-bar__icon--inst(width="23" height="18")
          use(xlink:href="./assets/images/sprite.svg#instagram")
    li.social-bar__item
      a.social-bar__link(href="#" aria-label="whatsapp")
        svg.social-bar__icon.social-bar__icon--wa(width="23" height="18")
          use(xlink:href="./assets/images/sprite.svg#whatsapp")




