include ../section-title/section-title

mixin about()
  .about
    .container
      +section-title("Почему Дымоход.ру?")
      p.about__text В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
      ul.about__list
        li.about__item.about__item--garant
          h3.about__title Большой гарантийный срок
          ul.about__subitem-list
            li.about__subitem-item Крепёж, стыковка элементов –
              span 10 лет
            li.about__subitem-item Сквозная коррозия труб –
              span 5 лет
            li.about__subitem-item Гидроизоляция –
              span 3 года
        li.about__item
          h3.about__title Помощь в покупке агрегата
          p.about__item-text (печи, камина, котла), а также качественной
            |установке на объекте с последующим
            |гарантийным сервисом
        li.about__item
          h3.about__title Реальные отзывы клиентов
          p.about__item-text Убедитесь в добросовестности исполнения,
            |прочитав Отзывы клиентов в специальном
            |разделе.

