.about__list {
    display: flex;
}

.about__item {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 79px;
        height: 79px;
        top: 0;
        left: 0;
    }

    &--garant {
        &::before {
            background-image: url("./../images/sprite.svg#guarantee");
        }
    }
}

.about__subitem-item span {
  color: $amaranth;
  font-weight: 600;
}
