.header {
    grid-column-start: 1;
    grid-column-end: -1;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1920px;
    margin: 0 auto;
    padding-top: 28px;
    padding-left: 0;
    position: relative;

    @media screen and (max-width: $desktop-width) {
      padding-left: 8px;
      border-bottom: 1px solid $whisper;
      padding-bottom: 21px;
      width: 98%;
    }

    @media screen and (max-width: $tablet-width) {
      padding-top: 16px;
      padding-left: 11px;
      padding-bottom: 15px;
    }
}

.header__logo {
    margin-right: 53px;

    @media screen and (max-width: $desktop-width) {
      width: 64px;
      height: 62px;
      margin-right: 377px;
    }

    @media screen and (max-width: $tablet-width) {
      margin-right: 133px;
      width: 48px;
      height: 47px;
    }
}

.header__btn-menu {
    background: $transparent;
    width: 56px;
    height: 56px;
    border: 1px solid $paradiso;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 12px;

    @media screen and (max-width: $desktop-width) {
      order: 5;
      margin-right: 0;
      margin-left: 4px;
    }

    @media screen and (max-width: $tablet-width) {
      width: 44px;
      height: 44px;
    }
}

.header__btn-menu span,
.header__btn-menu::after,
.header__btn-menu::before {
    background: $paradiso;
    content: "";
    display: block;
    height: 2px;
    width: 22px;
    border-radius: 3px;
    margin: 4px 0;
    transition: 0.5s;
}

.header__btn-menu:hover::before {
    transform: translateY(12px) rotate(135deg);
}

.header__btn-menu:hover::after {
    transform: translateY(-8.7px) rotate(-135deg);
}

.header__btn-menu:hover span {
    transform: scale(0);
}

.header__menu {
    display: flex;
    align-items: center;

    @media screen and (max-width: $desktop-width) {
      position: absolute;
      display: none;
      width: 768px;
      flex-direction: column;
      align-items: center;
      background: $darkGray;
      top: 111px;
      right: -8px;
      -webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			-o-transition-duration: 0.3s;
			transition-duration: 0.3s;
    }

    @media screen and (max-width: $tablet-width) {
      width: 320px;
      top: 78px;
      right: -3px;
    }
}

.header__menu-list {
    display: flex;
    align-items: center;
    margin-right: 80px;

    @media screen and (max-width: $desktop-width) {
      margin-left: 25px;
      margin-bottom: 24px;
    }

    @media screen and (max-width: $tablet-width) {
      flex-direction: column;
    }
}

.header__menu-link {
    font-family: $font-family-primary, $font-family-secondary, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $paradiso;
    padding: 10px 18px;

    &:hover,
    &:focus {
        opacity: 0.7;
        outline: none;
    }

    &:active {
        color: $basic-black;
        opacity: 0.7;
        outline: none;
    }

    @media screen and (max-width: $tablet-width) {
      font-size: 13px;
      margin-bottom: 10px;
    }
}

.header__tel {
    color: $paradiso;
    letter-spacing: 1px;
    margin-right: 70px;

    @media screen and (max-width: $desktop-width) {
      margin-bottom: 30px;
    }
}

.header__tel span {
    color: $basic-black;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.header__social-bar {
    margin-top: 6px;
    margin-right: 51px;
}

.header__feedback {
    text-transform: uppercase;
    color: $сardinal;
    font-weight: 700;
    border-bottom: 1px dashed $сardinal;
    padding: 5px 0;
    letter-spacing: -1.5px;
    margin-right: 58px;
}

.header__button {
    width: 56px;
    height: 56px;
    border: 1px solid $whisper;
    border-radius: 50%;
    background: $transparent;
    cursor: pointer;
    margin-right: 16px;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.5;
        outline: none;
    }

    @media screen and (max-width: $desktop-width) {
      margin-right: 25px;
    }

    @media screen and (max-width: $tablet-width) {
      width: 44px;
      height: 44px;
      margin-right: 18px;
    }
}

.header__feedback,
.header__tel {
    &:hover,
    &:focus,
    &:active {
        opacity: 0.5;
        outline: none;
    }
}

.header__basket {
    position: relative;

    &::before {
        position: absolute;
        content: "10";
        color: $basic-white;
        background-color: $amaranth;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        top: 0;
        right: -3px;
        font-weight: 800;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media screen and (max-width: $tablet-width) {
      &::before {
        right: -7px;
      }
    }
}

.header__search,
.header__favorites {

  @media screen and (max-width: $tablet-width) {
    display: none;
  }
}

.header__menu.header__menu--active {

  @media screen and (max-width: $desktop-width) {
    display: flex;
  }
}
