.header {
    grid-column-start: 1;
    grid-column-end: -1;
}

.header__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 28px;
    padding-left: 63px;
}

.header__logo {
    margin-right: 53px;
}

.header__btn-menu {
    background: $transparent;
    width: 56px;
    height: 56px;
    border: 1px solid $paradiso;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}

.header__btn-menu span,
.header__btn-menu::after,
.header__btn-menu::before {
    background: $paradiso;
    content: "";
    display: block;
    height: 2px;
    width: 22px;
    border-radius: 3px;
    margin: 4px 0;
    transition: 0.5s;
}

.header__btn-menu:hover::before {
    transform: translateY(12px) rotate(135deg);
}

.header__btn-menu:hover::after {
    transform: translateY(-8.7px) rotate(-135deg);
}

.header__btn-menu:hover span {
    transform: scale(0);
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-list {
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.header__menu-link {
    font-family: $font-family-primary, $font-family-secondary, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $paradiso;
    padding: 10px 18px;

    &:hover,
    &:focus {
        opacity: 0.7;
        outline: none;
    }

    &:active {
        color: $basic-black;
        opacity: 0.7;
        outline: none;
    }
}

.header__tel {
    color: $paradiso;
    letter-spacing: 1px;
    margin-right: 70px;
}

.header__tel span {
    color: $basic-black;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.header__social-bar {
    margin-top: 6px;
    margin-right: 51px;
}

.header__feedback {
    text-transform: uppercase;
    color: $сardinal;
    font-weight: 700;
    border-bottom: 1px dashed $сardinal;
    padding: 5px 0;
    letter-spacing: -1.5px;
    margin-right: 58px;
}

.header__button {
    width: 56px;
    height: 56px;
    border: 1px solid $whisper;
    border-radius: 50%;
    background: $transparent;
    cursor: pointer;
    margin-right: 16px;

    &:hover,
    &:focus,
    &:active {
        opacity: 0.5;
        outline: none;
    }
}

.header__feedback, 
.header__tel {
    &:hover,
    &:focus,
    &:active {
        opacity: 0.5;
        outline: none;
    }
}

.header__basket {
    position: relative;

    &::before {
        position: absolute;
        content: "10";
        color: $basic-white;
        background-color: $amaranth;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        top: 0;
        right: -3px;
        font-weight: 800;
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}