include ../social-bar/social-bar

mixin header()
  header.header
    .container
      .header__container
        img.header__logo(src="./assets/images/logo.svg", alt="Дымоход.ру" width="100" height="97")
        button.header__btn-menu
        nav.header__menu
          ul.header__menu-list
            li.header__menu-item
              a.header__menu-link(href="#") Каталог товаров
            li.header__menu-item
              a.header__menu-link(href="#") доставка и оплата
            li.header__menu-item
              a.header__menu-link(href="#") Цены
            li.header__menu-item
              a.header__menu-link(href="#") Контакты
          a.header__tel() +7 (812)
            span 509 21 98
          a.header__feedback(href="#") перезвоните мне
          .header__social-bar
        button.header__search(aria-label="Поиск")
        button.header__favorites(aria-label="Избранное")
        button.header__basket(aria-label="Корзина")

