.gallery {
  margin-top: 147px;
  padding-bottom: 142px;

  @media screen and (max-width: $desktop-width) {
    margin-top: 45px;
    padding-left: 10px;
    padding-bottom: 61px;
  }
}

.gallery__text {
  margin-bottom: 0px;
  margin-top: 66px;
  line-height: 31px;

  @media screen and (max-width: $desktop-width) {
    margin-top: 27px;
    width: 98%;
    line-height: 30px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(4, 298px);
  column-gap: 14px;
  row-gap: 30px;
  margin-bottom: 0px;
  margin-top: 39px;
  padding-left: 0px;
  margin-left: -7px;

  @media screen and (max-width: $desktop-width) {
    grid-template-columns: repeat(3, 237px);
    column-gap: 19px;
    margin-left: -8px;
    margin-top: 31px;
  }
}

.gallery__item {
  display: grid;
  position: relative;
  width: 298px;
  height: 260px;
  z-index: 2;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $transparent;
    border-top: 4px solid $paradiso;
    border-right: 4px solid $paradiso;
    top: 6px;
    right: 8px;
    z-index: 3;
  }

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $transparent;
    border-bottom: 4px solid $paradiso;
    border-left: 4px solid $paradiso;
    bottom: -6px;
    left: 8px;
  }

  @media screen and (max-width: $desktop-width) {
    width: 237px;
    height: 208px;
  }

}

.gallery__item-link {
  position: relative;
}

.gallery__item-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 1s ease;
}


.gallery__item-overlay {
  position: absolute;
  top: 43%;
  left: 30%;
  display: none;
  overflow: hidden;
}

.gallery__item-button {
  background: $tealBlue;
  border-radius: 4px;
  font-weight: 700;
  color: $basic-white;
  border: 1px solid $tealBlue;
  padding: 17px 20px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    outline: none;
  }
}

.gallery__item-link:hover .gallery__item-img,
.gallery__item-link:focus .gallery__item-img,
.gallery__item-link:active .gallery__item-img {
  filter: blur(5px);
}

.gallery__item-link:hover .gallery__item-overlay,
.gallery__item-link:focus .gallery__item-overlay,
.gallery__item-link:active .gallery__item-overlay {
  overflow: visible;
  display: block;
}
