.feedback {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 66px;

  @media screen and (max-width: $desktop-width) {
    width: 100%;
    padding-top: 29px;
  }
}

.feedback__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 0.5px;

  @media screen and (max-width: $desktop-width) {
    font-size: 38px;
    text-align: center;
  }
}

.feedback__subtitle {
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;

  @media screen and (max-width: $desktop-width) {
    font-size: 16px;
    margin-top: 0;
  }
}

.feedback__social-bar {
  display: flex;
  justify-content: center;
  margin-top: 19px;

  @media screen and (max-width: $desktop-width) {
    margin-top: 8px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
  width: 866px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);
  margin-top: 17px;
  margin-left: 19px;
  padding-left: 59px;
  padding-bottom: 60px;

  @media screen and (max-width: $desktop-width) {
    width: 738px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 45px;
  }
}

.feedback__form-text-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 0px;
  margin-top: 57px;

  @media screen and (max-width: $desktop-width) {
    margin-top: 29px;
    text-align: center;
    margin-left: -47px;
  }
}

.feedback__form-text-main span {
  color: $tahitiGold;
  font-weight: 700;
}

.feedback__form-text {
  line-height: 30px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: 0px;
  margin-top: -3px;
}

.feedback__form-input {
  width: 240px;
  height: 56px;
  border: 1px solid $whisper;
  border-radius: 4px;
  margin-left: 5px;
  margin-top: 4px;
  padding-left: 17px;
  font-size: 15px;

  &::-webkit-input-placeholder {
    color: $darkGray;
    font-weight: 500;
  }

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $tealBlue;
    outline: none;
  }

  @media screen and (max-width: $desktop-width) {
    margin-left: -62px;
    width: 351px;
  }
}

.feedback__form-input--phone {
  margin-left: 0;

  @media screen and (max-width: $desktop-width) {
    margin-left: -62px;
  }
}

.feedback__form-button {
  background: $tealBlue;
  border-radius: 4px;
  font-weight: 700;
  color: $basic-white;
  border: 1px solid $tealBlue;
  padding: 17px 0;
  cursor: pointer;
  margin-top: 5px;
  font-size: 18px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
    outline: none;
  }

  @media screen and (max-width: $desktop-width) {
    width: 240px;
    margin-left: -61px;

  }
}
