include ../section-title/section-title
include ../social-bar/social-bar

mixin feedback()
  .feedback
    .container
      h3.feedback__title необходима консультация?
      p.feedback__subtitle оставьте заявку или свяжитесь с нами в социальных сетях
      .feedback__social-bar
        +social-bar("orange")
      form.feedback__form
        p.feedback__form-text-main Для
          span &#160;консультации&#160;
          | заполните форму!
        p.feedback__form-text C Вами свяжутся в ближайшее время
        label.feedback__form-label
          input.feedback__form-input(type="text", placeholder="Ваше имя")
        label.feedback__form-label
          input.feedback__form-input.feedback__form-input--phone(type="text", placeholder="Ваш телефон")
        button.feedback__form-button(type="submit") отправить


