*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: $basic-black;
  font-family: $font-family-primary, $font-family-secondary, sans-serif;
  font-size: 16px;
  background-color: $basic-white;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  font-family: $font-family-primary, $font-family-secondary, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  min-width: $mobile-width;
  margin: 0 auto;

  @media screen and (max-width: $desktop-width) {
    max-width: 752px;
  }

  @media screen and (max-width: $tablet-width) {
    min-width: 290px;
    max-width: 290px;
  }
}

.main__title {
  font-size: 60px;
  font-weight: 700;
  font-family: $font-family-primary, $font-family-secondary, sans-serif;
  padding-left: 351px;
  margin-top: 57px;
  margin-bottom: 0;

  @media screen and (max-width: $desktop-width) {
    font-size: 45px;
    padding-left: 15px;
  }

  @media screen and (max-width: $tablet-width) {
    font-size: 30px;
    margin-top: 43px;
    width: 80%;
  }
}
